.container ul{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

ul li{
    background-color: rgb(170, 156, 156);
    color: blue;
    padding:10px 20px;
    border-radius:5px;
    list-style-type:none;
}